@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    background: white;
    width: 160px;
    height: 36px;
    text-align: center;
    font-size: 18px;
    padding-left: 1px;
    padding-right: 1px;
    font-weight: 700;
    color: black;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    text-align: center;
    place-content: center;
    --tw-shadow-color: #fff;
    
}

@media (max-width: 768px) {
    .active{
        width: 80px;
        padding: 0px  0px;
        font-size: 12px;
    }
}

